
html,
body {
    width: 100%;
    height: 100%;
    /*background-color: #2b96d1;*/
}

.logo{
    background: url('../img/logo-2.png') center center no-repeat;
    background-size: 50px;
}
.highlighted{
    background-color: yellow;
}
#esterEgg p{
    display: inline;
}


.curser {
    padding: 0;
    animation: blink 1s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}


@media (max-width: 600px) {

}




