<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mood,yoni mood,moody-user,moodyUser,mryonyon,yoni,מקור פתוח">
    <meta name="author" content="Yoni Mood">
    <title>מקור פתוח</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">-->


    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>
<body data-ng-app="myApp">

<div id="blog" ng-controller="formCtrl">
    <nav class="navbar  navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-form navbar-left">
                <div class="navbar-header">
                    <img class="navbar-brand" src="img/logo.png" style="padding: 0px;">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <!--<span class="glyphicon glyphicon-chevron-down">-->
                        </span></div>
                    <input type="text"
                           class="form-control"
                           id="title"
                           ng-change="search()"
                           ng-model="form.title" placeholder="Title">
                    <!--<div class="input-group-addon">.00</div>-->
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                    </div>
                    <input type="text"
                           class="form-control"
                           id="contain"
                           ng-change="search()"
                           ng-model="form.text" placeholder="Contains">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                    </div>
                    <input type="text" class="form-control datetimePicker"
                           id="from"
                           data-tag="from"
                           placeholder="From"
                           style="display: inline-block; width: 50%;">
                    <input type="text"
                           class="form-control datetimePicker"
                           id="to"
                           data-tag="to"
                           placeholder="To"
                           style="display: inline-block ;width: 50%;">
                    <!--<div class="input-group-addon">.00</div>-->
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-repeat="post in relevantPosts">
            <h2 dir="auto">{{post.title}}</h2>
            <br>
            <h5 dir="auto">{{post.time}}</h5>
            <br>

            <p dir="auto">{{post.text}}</p>
            <hr>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js"></script>

<!--<script src="js/jquery.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<script src="js/angular.min.js"></script>
<script src="js/ang-control.js"></script>
<script src="js/jquery.bootstrap-autohidingnavbar.min.js"></script>

<script>
    $("nav.navbar-static-top").autoHidingNavbar();
    $('input.datetimePicker').datetimepicker().on("dp.change", function () {
        var el = this;
        angular.element('#blog').scope().form[el.dataset['tag']] = el.value.toString();
        angular.element('#blog').scope().search();
    });
</script>
</body>

</html>

